/* SPDX-License-Identifier: MIT */

/* Global variables */
:root {
  --fancy-font: "Architects Daughter";
  --fancy-title-size: 1.3em;

  --gallery-swipe-gap: 50px;

  --max-text-width: 700px;

  --fixed-bottom-button-offset: 40px;
}

/* CSS theme variables */
.theme-light {
  --bg-color: #efefef;
  --text-color: #101010;
  --lesser-text-color: #505050;
  --link-color: #00e;

  --text-bg-color: #e0e0e0;

  /* Nav */
  --nav-sep-color: #404040;

  /* Captions */
  --caption-bg-color: #d8d8d8;
  --caption-color: var(--text-color);

  --caption-hover-bg-color: #444;
  --caption-hover-color: #e0e0e0;

  /* Control bar */
  --control-bar-bg-color: #e0e0e0;
  --control-bar-group-divider-color: #808080;
  --control-bar-border-color: #d0d0d0;

  /* Circle icon buttons */
  --iconbtn-disabled-color: #aaa;
  --iconbtn-toggleActive-color: #fff;
  --iconbtn-color: #000;

  --iconbtn-toggleActive-bg-color: #000;
  --iconbtn-bg-color: rgba(0, 0, 0, 0.1);

  --iconbtn-hover-bg-color: #000;
  --iconbtn-hover-color: #fff;
  --iconbtn-toggle-hover-bg-color: #808080;

  /* Home groups */
  --homegroup-color: var(--text-color);
  --homegroup-border-color: #808080;
  --homegroup-bg-color1: #efefef;
  --homegroup-bg-color2: #e8e8e8;

  /* Photo link */
  --photolink-border-color: transparent;
  --photolink-hover-border-color: var(--caption-hover-bg-color);

  /* Scroll to top button */
  --scrolltotop-bg-color: rgba(255, 255, 255, 0.75);

  /* Processing indicator */
  --processingindicator-bg-color: rgba(255, 255, 255, 0.75);

  /* Timeline */
  --timeline-bg-color: var(--bg-color);
  --timeline-border-color: #c0c0c0;
  --timelinebar-bg-color: rgba(255, 255, 255, 0.85);
  --timelinebar-color: var(--text-color);
  --timelinebar-hover-bg-color: var(--caption-hover-bg-color);
  --timelinebar-hover-color: var(--caption-hover-color);
  --timeline-title-bg-color: rgb(184, 212, 238);

  /* Rich text */
  --richtext-divider-color: #a0a0a0;
  --richtext-section-title-bg-color: rgb(183, 208, 231);
  --richtext-link-color: var(--link-color);

  /* Park label */
  --park-label-bg-color: rgb(192, 235, 192);

  /* Modal & dialogs */
  --modal-bg-color: rgba(232, 232, 232, 0.9);
  --dialog-border-color: #000;

  /* Spinner */
  --spinner-bg-color: #e0e0e0;
  --spinner-color: #101010;

  /* Errors */
  --error-bg-color: #fdd;
  --error-border-color: #c00;
  --error-text-color: #c00;
}

.theme-dark {
  --bg-color: #101010;
  --text-color: #e0e0e0; /* not quite as bright */
  --lesser-text-color: #b0b0b0;
  --link-color: #0cf;

  --text-bg-color: #1c1c1c;

  /* Nav */
  --nav-sep-color: #d0d0d0;

  /* Captions */
  --caption-bg-color: #282828;
  --caption-color: var(--text-color);

  --caption-hover-bg-color: #e8e8e8;
  --caption-hover-color: #000;

  /* Control bar */
  --control-bar-bg-color: #1c1c1c;
  --control-bar-group-divider-color: #808080;
  --control-bar-border-color: #404040;

  /* Circle icon buttons */
  --iconbtn-disabled-color: #555;
  --iconbtn-toggleActive-color: #000;
  --iconbtn-color: #fff;

  --iconbtn-toggleActive-bg-color: #fff;
  --iconbtn-bg-color: rgba(255, 255, 255, 0.15);

  --iconbtn-hover-bg-color: rgba(255, 255, 255, 0.9);
  --iconbtn-hover-color: #000;
  --iconbtn-toggle-hover-bg-color: #808080;

  /* Home groups */
  --homegroup-color: var(--text-color);
  --homegroup-border-color: #808080;
  --homegroup-bg-color1: #101010;
  --homegroup-bg-color2: #1c1c1c;

  /* Photo link */
  --photolink-border-color: transparent;
  --photolink-hover-border-color: var(--caption-hover-bg-color);

  /* Scroll to top button */
  --scrolltotop-bg-color: rgba(0, 0, 0, 0.65);

  /* Processing indicator */
  --processingindicator-bg-color: rgba(0, 0, 0, 0.65);

  /* Timeline */
  --timeline-bg-color: var(--bg-color);
  --timeline-border-color: #404040;
  --timelinebar-bg-color: rgba(24, 24, 24, 0.85);
  --timelinebar-color: var(--text-color);
  --timelinebar-hover-bg-color: var(--caption-hover-bg-color);
  --timelinebar-hover-color: var(--caption-hover-color);
  --timeline-title-bg-color: #25313d;

  /* Rich text */
  --richtext-divider-color: #505050;
  --richtext-section-title-bg-color: #345;
  --richtext-link-color: var(--link-color);

  /* Park label */
  --park-label-bg-color: rgb(15, 45, 15);

  /* Modal & dialogs */
  --modal-bg-color: rgba(24, 24, 24, 0.9);
  --dialog-border-color: #fff;

  /* Spinner */
  --spinner-bg-color: #202020;
  --spinner-color: #e0e0e0;

  /* Errors */
  --error-bg-color: #fdd;
  --error-border-color: #c00;
  --error-text-color: #c00;
}

/* Don't name this with theme- prefix as that impacts theme processing (see ThemeProvider) */
.transition-theme,
.transition-theme * {
  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Do this to prevent jumping scrollbar (especially on photo gallery pages) */
html {
  overflow-y: scroll;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
